<div class="center">
    <div id="userdata" class="row"></div>
    <div class="row">
        <h4>LOGGING OUT IN</h4>
        <span id="timer"></span>
    </div>
    <div class="row" style="height: 50%">
        <div class="col s12">
            <a class="waves-effect waves-light btn-large red darken-3" id="del-profile">Delete&nbsp;&nbsp; User</a>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <a class="waves-effect waves-light btn-large blue darken-3" id="name-profile">Update Name</a>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <a class="waves-effect waves-light btn-large blue darken-3" id="email-profile">Update Email</a>
        </div>
    </div>
</div>
<script src="assets/profileScript.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">